.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
  animation: App-logo-spin infinite 5s linear;
  color: aqua;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0%   { transform: rotateY(0deg); }
  25%   { transform: rotateY(0deg); }
  50%  { transform: rotateY(360deg); }
  75%  { transform: rotateX(0deg); }
  100% { transform: rotateX(360deg); }
}
