.Day {
    width: 2%;
    height: 98%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    flex-basis: auto;
    background-color: darkorchid;
    border: 1px solid lightslategrey;
}

.dayTitle {
    width: 100%;
    height: 5%;
    text-align: center;
    background-color: lightslategrey;
    line-height: 100%;
}

.dayPeriods {
    width: 100%;
    height: 95%;
    position: relative;
}

.daySinglePeriod {
    width: 100%;
    position: absolute;
}

.workPeriod {
    background-color: cyan;
}

.availablePeriod {
    background-color: darkorchid;
}

.offPeriod {
    background-color: chocolate;

}

.schoolPeriod {
    background-color: yellow
}

.periodStartTime {
    font-size: 0.75em;
    position: absolute;
    top: 5px;
    width: 100%;
}

.periodEndTime {
    font-size: 0.75em;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

