.Calendar {
    position: absolute;
    top: 150px;
    width: 100%;
    height: calc(100% - 150px);
}

.calendar_border {
    background-color: black;
    position: absolute;
}

.calendar_border_bottom {
    height: 10%;
    width: 100%;
    bottom: 0px;
}

.calendar_border_top {
    height: 10%;
    width: 100%;
    top: 0px;
}

.calendar_border_left {
    height: 80%;
    width: 10%;
    left: 0%;
    top: 10%
}

.calendar_border_right {
    height: 80%;
    width: 10%;
    right: 0%;
    top: 10%
}

.DaysContainer {
    height: 75%;
    width: 75%;
    right: 15%;
    top: 15%;
    border: 5px black solid;
}
